[Unit]
Description=Server sight post script for gathering server data.

[Service]
Type=simple
EnvironmentFile=/var/lib/serversight/.env
ExecStart=/var/lib/serversight/ServerSightPostScript

[Install]
WantedBy=multi-user.target